/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

nav {
    font-style: italic;
}

.about {
    background-color: darkmagenta;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    background-color: seagreen;
    width: 300px;
    border: 15px slateblue;
    padding: 50px;
    margin: 20px;
}

.me {
    background-color: darkgreen;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.report {
    background-color: darkorange;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: cornflowerblue;
}

.duck {

    width: 128px;
    height: 128px;
    border: 1px solid black;
    background-image: url(../img/pens.png);
    background-size: 128px;
    position: absolute;
    top: 20px;
    left: 20px;


}

.submit{
    margin-bottom:10px;
  }
  button{
    padding:10px;
    background:#eee;
    border:solid 1px #ddd;
    font-size:18px;
    color:#555;
    cursor:pointer;
    outline:none;
  }
  button:hover{
    background:#999;
    color:#fff;
  }
  #numbers{
    font-size:18px;
    color:#555;
  }
  .btn {
      display: inline-block;
      border: none;
      background: sienna;
      color: snow;
      padding: 0.75rem 1.5rem;
      margin-top: 1rem;
      transition: opacity 0.3s ease-in-out;
      text-decoration: none;
  }
