@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>In this part of the course we will learn how to build a web-application with ASP.NET and C#.</p>
</div>
