/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

.me {
    background-color: darkgreen;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}